<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Admin</b></a>
        </div>


        <!-- Content Header (Page header) -->

        <!-- Main content -->


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Forgot Password</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="inputPasswordNew">Enter E-mail address</label>
                        <input type="text" class="form-control" id="inputPasswordNew" formControlName="email">
                        <div *ngIf="submitted && f.email.errors" class="invalid">
                            <div *ngIf="f.email.errors.required" style="color: red;">
                                Please fill a valid
                                email address!</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Send</button>
                    </div>
                </form>
                <!-- /.card-body -->

            </div>

            <!-- /.row -->
        </div>

        <!-- /.content -->
        <!-- Edit Category -->


    </div>

</body>

</html>
